#entretenimento {
    background-color: #f0e68c; /* cor de fundo para entretenimento */
    padding: 20px;
  }
  
  #tecnologia {
    background-color: #add8e6; /* cor de fundo para tecnologia */
    padding: 20px;
  }
  
  section h2 {
    color: #333; /* cor do título das seções */
  }
  
  article {
    margin: 10px 0;
  }
  